<!DOCTYPE html>
<html lang="th">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta charset="utf-8" />
<link rel="stylesheet" href="{{ url_for('static', filename='globals.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='index-style.css') }}">
<title>Echo of Choices</title>
</head>
<body>
<div class="horror-start-button" onclick="startGame()">
<div class="vignette-top-left"></div>
<div class="vignette-bottom"></div>
<div class="vcr-rec-status"><div class="rec-dot"></div>
<div class="rec-text">REC</div></div>
<div class="vcr-play-status">PLAY&nbsp;&nbsp;▶</div>
<div class="tracking-error"></div>
<div class="button-vibration">▶ START</div>
<div class="rectangle"></div>
<div class="vcr-time-info"><div class="vcr-track-indicator">SP&nbsp;&nbsp;0:00:14</div>
<div class="vcr-date-indicator">NOV. 13 1994</div></div>
</div>

<script>
    function startGame() {
        fetch("/start_game", { method: "POST" })
        .then(res => res.json())
        .then(data => {
            if (data.success) {
                window.location.href = data.redirect;
            } else {
                alert("เกิดข้อผิดพลาด กรุณาลองใหม่");
            }
        })
        .catch(err => {
            console.error(err);
            alert("เชื่อมต่อเซิร์ฟเวอร์ไม่ได้");
        });
    }
</script>
</body>
</html>
